@import '../defaults';

.logo {
  -webkit-filter: drop-shadow(1px 1px 1px black) !important;
  filter: drop-shadow(1px 1px white) !important;
}

.hive__nav {
  &--icons {
    color: $brand-color !important;

    &:hover {
      color: $brand-color-darker !important;
      transition: color 0.5s ease !important;
    }
  }

  &--links {
    color: nth($brand-grey-colors, 2) !important;
    border-width: 0px !important;

    &:visited {
      border-color: $brand-color !important;
    }

    &:hover {
      color: $brand-color-darker !important; //refactor
      transition: color ease 1s !important;
    }
  }

  &--layer > .grommetux-layer__container {
    border-radius: 0px !important;
  }

  &--sidebar {
    background-color: nth($brand-light-colors, 2) !important;
  }

  &--header-link {
    color: $text-color-white !important;
    transition: all 0.5s;

    &:visited {
      color: $text-color-white !important;
    }

    &:hover {
      text-decoration: none !important;
      transform: scale(1.1);
      color: white !important;
    }
  }

  &--button {
    color: nth($brand-grey-colors, 3) !important;
    min-width: 0px !important;
    padding: 0px !important;

    &:visited {
      color: $text-color-white !important;
    }

    &:hover {
      text-decoration: none !important;
      color: $brand-color !important;
      transition: color ease 1s !important;
    }
  }

  &--header {
    background-color: nth($brand-grey-colors, 5) !important;
  }
}
