.Cal__Day__root {
  display: inline-block !important;
  box-sizing: border-box !important;
  width: 14.28571% !important;
  list-style: none !important;
  font-size: 16px !important;
  text-align: center !important;
  cursor: pointer !important;
  user-select: none !important;
}
.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted,
.Cal__Day__root.Cal__Day__enabled:active,
.Cal__Day__root.Cal__Day__enabled:hover {
  position: relative !important;
  z-index: 1 !important;
}
.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before,
.Cal__Day__root.Cal__Day__enabled:active:before,
.Cal__Day__root.Cal__Day__enabled:hover:before {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 52px !important;
  height: 52px !important;
  margin-top: -26px !important;
  margin-left: -26px !important;
  border-radius: 50% !important;
  background-color: #efefef !important;
  z-index: -1 !important;
}
.Cal__Day__root.Cal__Day__enabled:hover:before {
  opacity: 0.5;
}
.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before,
.Cal__Day__root.Cal__Day__enabled:active:before {
  opacity: 1 !important;
}
.Cal__Day__root:first-child {
  position: relative !important;
}
.Cal__Day__root.Cal__Day__today {
  position: relative !important;
  z-index: 2 !important;
}
.Cal__Day__root.Cal__Day__today > span {
  color: #3d3d3d !important;
}
.Cal__Day__root.Cal__Day__today.Cal__Day__disabled > span {
  color: #aaa !important;
}
.Cal__Day__root.Cal__Day__today:before {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 52px !important;
  height: 52px !important;
  margin-top: -26px !important;
  margin-left: -26px !important;
  border-radius: 50% !important;
  box-shadow: inset 0 0 0 1px !important;
  z-index: -1 !important;
}
.Cal__Day__root.Cal__Day__today.Cal__Day__disabled:before {
  box-shadow: inset 0 0 0 1px #bbb !important;
}
.Cal__Day__root.Cal__Day__selected {
  position: relative !important;
}
.Cal__Day__root.Cal__Day__selected > .Cal__Day__month,
.Cal__Day__root.Cal__Day__selected > .Cal__Day__year {
  display: none !important;
}
.Cal__Day__root.Cal__Day__selected:before {
  display: none !important;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 52px !important;
  height: 52px !important;
  margin-top: -26px !important;
  margin-left: -26px !important;
  border-radius: 50% !important;
  line-height: 56px !important;
  z-index: 2 !important;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__month {
  top: 9px !important;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__day {
  position: relative !important;
  top: 5px !important;
  font-weight: bold !important;
  font-size: 18px !important;
}
.Cal__Day__root.Cal__Day__disabled {
  color: #aaa !important;
  cursor: not-allowed !important;
}

.Cal__Day__month,
.Cal__Day__year {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 12px !important;
  line-height: 12px !important;
  text-transform: capitalize !important;
}

.Cal__Day__month {
  top: 5px !important;
}

.Cal__Day__year {
  bottom: 5px !important;
}

/*
 * Range selection styles
 */
.Cal__Day__range.Cal__Day__selected.Cal__Day__start:after,
.Cal__Day__range.Cal__Day__selected.Cal__Day__end:after {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  width: 50% !important;
  height: 52px !important;
  margin-top: -26px !important;
  box-shadow: inset 56px 56px !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__disabled
  .Cal__Day__selection.Cal__Day__selection {
  background-color: #eee !important !important;
}
.Cal__Day__range.Cal__Day__selected.Cal__Day__disabled
  .Cal__Day__selection.Cal__Day__selection
  .Cal__Day__day,
.Cal__Day__range.Cal__Day__selected.Cal__Day__disabled
  .Cal__Day__selection.Cal__Day__selection
  .Cal__Day__month {
  color: #aaa !important;
  font-weight: 300 !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__start .Cal__Day__selection {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__start:after {
  right: 0 !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__start.Cal__Day__end:after {
  display: none !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange
  .Cal__Day__selection {
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  margin-left: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 0 !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange .Cal__Day__day {
  top: 0 !important;
  font-size: 16px !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange .Cal__Day__month {
  display: none !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__end:after {
  left: 0 !important;
}

.Cal__Day__range.Cal__Day__selected.Cal__Day__end .Cal__Day__selection {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  color: inherit !important !important;
  background-color: #fff !important !important;
  border: 2px solid !important;
  box-sizing: border-box !important;
}
.Cal__Day__range.Cal__Day__selected.Cal__Day__end
  .Cal__Day__selection
  .Cal__Day__day {
  top: 4px !important;
}
.Cal__Container__root {
  position: relative !important;
  display: table !important;
  z-index: 1 !important;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  line-height: 1.4em !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: 300 !important;
  outline: none !important;
  text-align: left !important;
}
.Cal__Container__root.Cal__Container__landscape {
  display: flex !important;
  flex-direction: row !important;
}
.Cal__Container__root.Cal__Container__landscape .Cal__Container__wrapper {
  position: relative !important;
  flex-grow: 1 !important;
  overflow: hidden !important;
  z-index: 1 !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.Cal__Container__listWrapper {
  position: relative !important;
  overflow: hidden !important;
  background-color: #fff !important;
}
.Cal__Header__root {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
  min-height: 98px !important;
  padding: 20px !important;
  line-height: 1.3 !important;
  font-weight: 400 !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}
.Cal__Header__root.Cal__Header__landscape {
  align-items: flex-start !important;
  min-width: 200px !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 3px !important;
}
.Cal__Header__root.Cal__Header__landscape
  .Cal__Header__dateWrapper.Cal__Header__day {
  flex-grow: 1 !important;
  height: 76px !important;
}

.Cal__Header__wrapper {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  cursor: pointer !important;
}
.Cal__Header__wrapper.Cal__Header__blank {
  height: 58px !important;
  line-height: 58px !important;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 18px !important;
  cursor: default !important;
}

.Cal__Header__dateWrapper {
  position: relative !important;
  display: block !important;
  overflow: hidden !important;
  color: rgba(255, 255, 255, 0.5) !important;
  transition: color 0.3s ease !important;
}
.Cal__Header__dateWrapper.Cal__Header__active {
  color: white !important;
}
.Cal__Header__dateWrapper.Cal__Header__day {
  height: 38px !important;
  font-size: 36px !important;
  line-height: 36px !important;
  text-transform: capitalize !important;
}
.Cal__Header__dateWrapper.Cal__Header__year {
  height: 20px !important;
  font-size: 18px !important;
  line-height: 18px !important;
}

.Cal__Header__date {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.Cal__Header__range {
  display: flex !important;
  flex-grow: 1 !important;
}
.Cal__Header__range .Cal__Header__dateWrapper {
  overflow: visible !important;
}
.Cal__Header__range .Cal__Header__wrapper:first-child:before,
.Cal__Header__range .Cal__Header__wrapper:first-child:after {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  width: 0 !important;
  height: 0 !important;
  margin-top: -50px !important;
  margin-left: -50px !important;
  border-top: 100px solid transparent !important;
  border-bottom: 100px solid transparent !important;
  border-left: 60px solid !important;
}
.Cal__Header__range .Cal__Header__wrapper:first-child:before {
  color: rgba(255, 255, 255, 0.15) !important;
  transform: translateX(1px) !important;
}
.Cal__Header__range .Cal__Header__wrapper:last-child {
  margin-left: 60px !important;
}
.Cal__Header__range .Cal__Header__wrapper .Cal__Header__date {
  white-space: nowrap !important;
  z-index: 1 !important;
}
.Cal__Today__root {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 32px !important;
  padding: 6px !important;
  box-sizing: border-box !important;
  transform: translate3d(0, -100%, 0) !important;
  font-weight: 500 !important;
  line-height: 0 !important;
  z-index: 10 !important;
  cursor: pointer !important;
  transition: transform 0.3s ease !important;
  transition-delay: 0.3s !important;
}
.Cal__Today__root.Cal__Today__show {
  transform: translate3d(0, 0, 0) !important;
  transition-delay: 0s !important;
}
.Cal__Today__root.Cal__Today__show .Cal__Today__chevron {
  transition: transform 0.3s ease !important;
}
.Cal__Today__root .Cal__Today__chevron {
  position: absolute !important;
  top: 50% !important;
  margin-top: -6px !important;
  margin-left: 5px !important;
  transform: rotate(270deg) !important;
  transition: transform 0.3s ease !important;
}
.Cal__Today__root.Cal__Today__chevronUp .Cal__Today__chevron {
  transform: rotate(180deg) !important;
}
.Cal__Today__root.Cal__Today__chevronDown .Cal__Today__chevron {
  transform: rotate(360deg) !important;
}
.Cal__MonthList__root {
  width: 100% !important !important;
  background-color: #fff !important;
  -webkit-overflow-scrolling: touch !important;
}
.Cal__MonthList__root.Cal__MonthList__scrolling > div {
  pointer-events: none !important;
}
.Cal__MonthList__root.Cal__MonthList__scrolling label {
  opacity: 1 !important;
}
.Cal__Weekdays__root {
  position: relative !important;
  z-index: 5 !important;
  display: flex !important;
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.04) !important;
}

.Cal__Weekdays__day {
  padding: 15px 0 !important;
  flex-basis: 14.28571% !important;
  flex-grow: 1 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: white !important;
  text-align: center !important;
}
.Cal__Years__root {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 10 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #f9f9f9 !important;
}
.Cal__Years__root:before,
.Cal__Years__root:after {
  content: '' !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  height: 50px !important;
  pointer-events: none !important;
  z-index: 1 !important;
}
.Cal__Years__root:before {
  top: 0 !important;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}
.Cal__Years__root:after {
  bottom: 0 !important;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 100%
  ) !important;
}

.Cal__Years__list {
  box-sizing: border-box !important;
}
.Cal__Years__list.Cal__Years__center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.Cal__Years__year {
  display: flex !important;
  padding: 0 20px !important;
  height: 100% !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  text-align: center !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  box-sizing: border-box !important;
}
.Cal__Years__year.Cal__Years__withMonths {
  border-bottom: 1px solid #e9e9e9 !important;
}
.Cal__Years__year.Cal__Years__withMonths label {
  height: 88px !important;
  padding-top: 12px !important;
  box-sizing: border-box !important;
}
.Cal__Years__year label {
  flex-basis: 42% !important;
}
.Cal__Years__year label span {
  flex-shrink: 0 !important;
  color: #333 !important;
}
.Cal__Years__year ol {
  display: flex !important;
  flex-wrap: wrap !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px !important;
}
.Cal__Years__year ol li {
  display: flex !important;
  width: 44px !important;
  height: 44px !important;
  flex-shrink: 0 !important;
  align-items: center !important;
  justify-content: center !important;
  list-style: none !important;
  border-radius: 50% !important;
  box-sizing: border-box !important;
  color: #444 !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
}
.Cal__Years__year ol li.Cal__Years__currentMonth {
  border: 1px solid !important;
}
.Cal__Years__year ol li.Cal__Years__selected {
  position: relative !important;
  z-index: 1 !important;
  background-color: blue !important;
  color: #fff !important !important;
  border: 0 !important;
}
.Cal__Years__year ol li.Cal__Years__disabled {
  cursor: not-allowed !important;
  color: #aaa !important;
}
.Cal__Years__year ol li.Cal__Years__disabled:hover {
  background-color: inherit !important;
}
.Cal__Years__year ol li:hover {
  background-color: #efefef !important;
}
.Cal__Years__year:hover label > span,
.Cal__Years__year.Cal__Years__active label > span {
  color: inherit !important;
}
.Cal__Years__year:hover,
.Cal__Years__year.Cal__Years__active {
  position: relative !important;
  z-index: 2 !important;
}
.Cal__Years__year.Cal__Years__active {
  font-size: 32px !important;
}
.Cal__Years__year.Cal__Years__currentYear {
  position: relative !important;
}
.Cal__Years__year.Cal__Years__currentYear label > span {
  min-width: 50px !important;
  padding-bottom: 5px !important;
  border-bottom: 3px solid !important;
}
.Cal__Years__year.Cal__Years__currentYear.Cal__Years__active label > span {
  min-width: 85px !important;
}
.Cal__Years__year.Cal__Years__first {
  padding-top: 40px !important;
}
.Cal__Years__year.Cal__Years__last {
  padding-bottom: 40px !important;
}
.Cal__Animation__enter {
  opacity: 0 !important;
  transform: translate3d(0, -100%, 0) !important;
  transition: 0.25s ease !important;
}

.Cal__Animation__enter.Cal__Animation__enterActive {
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}

.Cal__Animation__leave {
  transform: translate3d(0, 0, 0) !important;
  transition: 0.25s ease !important;
}

.Cal__Animation__leave.Cal__Animation__leaveActive {
  opacity: 0 !important;
  transform: translate3d(0, 100%, 0) !important;
}
.Cal__Slider__root,
.Cal__Slider__slide {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.Cal__Slider__root {
  overflow: hidden !important;
}

.Cal__Slider__slide {
  padding: 20px 65px !important;
}
.Cal__Slider__slide:first-child {
  padding-left: 20px !important;
}

.Cal__Slider__wrapper {
  height: 100% !important;
  transition: transform 0.3s ease !important;
}

.Cal__Slider__arrow {
  position: absolute !important;
  top: 0 !important;
  z-index: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px !important;
  height: 100% !important;
  opacity: 0.7 !important;
  cursor: pointer !important;
  border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.Cal__Slider__arrow svg {
  width: 15px !important;
}
.Cal__Slider__arrow:hover {
  opacity: 1 !important;
}

.Cal__Slider__arrowRight {
  right: 0 !important;
}

.Cal__Slider__arrowLeft {
  left: 0 !important;
  transform: scaleX(-1) !important;
}
.Cal__transition__enter {
  opacity: 0 !important;
}

.Cal__transition__enterActive {
  opacity: 1 !important;
  transition: opacity 0.3s ease !important;
}

.Cal__transition__leave {
  opacity: 1 !important;
}

.Cal__transition__leaveActive {
  opacity: 0 !important;
  transition: opacity 0.3s ease !important;
}
.Cal__Month__rows {
  position: relative !important;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.05) 100%
  ) !important;
}

.Cal__Month__row {
  padding: 0 !important;
  margin: 0 !important;
}
.Cal__Month__row:first-child {
  text-align: right !important;
}
.Cal__Month__row:first-child li {
  background-color: #fff !important;
  box-shadow: 0 -1px 0 #e9e9e9 !important;
}
.Cal__Month__row:nth-child(2) {
  box-shadow: 0 -1px 0 #e9e9e9 !important;
}
.Cal__Month__row.Cal__Month__partial:first-child li:first-child {
  box-shadow: 0px -1px 0 #e9e9e9, inset 1px 0 0 #e9e9e9 !important;
}
.Cal__Month__row.Cal__Month__partial:last-of-type li {
  position: relative !important;
  z-index: 1 !important;
}

.Cal__Month__label {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  z-index: 3 !important;
  pointer-events: none !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease !important;
}
.Cal__Month__label > span {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 56px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-transform: capitalize !important;
}
.Cal__Month__label.Cal__Month__partialFirstRow {
  top: 56px !important;
}
